<form id="quoteForm" name="aqua-quote" method="post" netlify netlify-honeypot="bot-field">
      <input type="hidden" name="form-name" value="aqua-quote" />

      <section id="stage-1" class="quote-form" v-show="currentPage == 1">
        <article>
          <strong>Broker details</strong><br>
          <br>
          <div class="adultQuestion">BROKER<br><input type="text" name="broker"></div>
          <div class="adultQuestion">CONTACT NAME<br><input type="text" name="contactName"></div>
          <div class="adultQuestion" style="clear: both">CONTACT NUMBER<br><input type="text" name="contactNumber"></div>
          <div class="adultQuestion">YOUR EMAIL<br><input type="text" name="email"></div>
          <div style="clear: both;">&nbsp;</div>
          <div class="line-break"></div>
          <strong>Please provide full names of all adults living at the premises insured</strong><br>
          <br>
          <span id="adultContainer">
				<div id="adult1" class="adultDetails">Adult 1:<br>
					<div class="adultQuestion">FULL NAME<br><input type="text" name="fullName[0]" size="25"></div>
					<div class="adultQuestion">OCCUPATION / NATURE OF INDUSTRY<br><input type="text" name="occupation[0]" size="40"></div>
					<div class="adultQuestion">DATE OF BIRTH<br><input type="text" name="dob[0]" size="12"></div>
				</div>
				</span>
          <div class="add-person" @click="addPerson()">ADD ADULT</div><div class="remove-person" @click="removePerson()">REMOVE LAST ADULT</div><br>
          <br>
          <div class="line-break"></div>
          <nuxt-link to="/aqua"><button class="close-form" type="button">CLOSE FORM</button></nuxt-link> <button class="next" data-id="1" type="button" @click="nextPage()"><strong>NEXT &gt;&gt;</strong></button>
        </article>
      </section>

      <section id="stage-2" class="quote-form" v-show="currentPage == 2">
        <button class="previous" data-id="2" type="button" @click="prevPage()"><strong>&lt;&lt; PREVIOUS</strong></button>
        <div id="property-container">
          <article id="property-1">
            <div class="property-title"><strong>Property Details</strong></div>
            <div class="row">
              <div class="premises-insured-left-column">
                <strong>Premises Insured</strong><br>
                Address line 1<br>
                <input type="text" size="35" name="address1[0]"><br>
                Address line 2<br>
                <input type="text" size="35" name="address2[0]"><br>
                Address line 3<br>
                <input type="text" size="35" name="address3[0]"><br>
                Postcode<br>
                <input type="text" name="postcode[0]">
              </div>
              <div class="premises-insured-middle-column">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr><td><strong>Is this property...</strong></td></tr>
                  <tr>
                    <td style="padding: 10px 8px 10px 0"><input type="radio" value="Main residence" name="residence[0]"> Main residence</td>
                    <td style="padding: 10px"><input type="radio" value="Weekend residence" name="residence[0]"> Weekend residence</td>
                    <td style="padding: 10px"><input type="radio" value="Weekday residence" name="residence[0]"> Weekday residence</td>
                  </tr>
                  <tr>
                    <td style="padding: 10px 8px 10px 0"><input type="radio" value="Holiday home" name="residence[0]"> Holiday home </td>
                    <td style="padding: 10px"><input type="radio" value="Let to tenants" name="residence[0]"> Let to tenants</td>
                    <td style="padding: 10px"><input type="radio" value="Unoccupied" name="residence[0]"> Unoccupied</td>
                  </tr></table>
              </div>
            </div>
            <div class="row grey">
              <div class="premises-insured-left-column">
                Is the property constructed of brick, stone, slate or tile &amp; year built?<br>
                <input type="radio" value="Yes" name="brickConstructed[0]"> Yes
                <input type="radio" value="Yes" name="brickConstructed[0]"> No<br>
                Year built?<br>
                <input type="text" name="yearBuilt[0]">
              </div>
              <div class="premises-insured-middle-column">
                Is the property occupied daily other<br> than working hours?<br>
                <input type="radio" value="Yes" name="occupiedDaily[0]"> Yes
                <input type="radio" value="No" name="occupiedDaily[0]"> No
              </div>
              <div class="premises-insured-right-column">
                Are the premises free from flooding, in an area free from flooding and not in the vicinity of any rivers, streams &amp; tidal waters?<br>
                <input type="radio" value="Yes" name="flooding[0]"> Yes
                <input type="radio" value="No" name="flooding[0]"> No
              </div>
            </div>
            <div class="row">
              <div class="premises-insured-left-column">
                Is the property free from signs of, or history of, subsidence, cracking, landslip or heave?<br>
                <input type="radio" value="Yes" name="subsidence[0]"> Yes
                <input type="radio" value="No" name="subsidence[0]"> No
              </div>
              <div class="premises-insured-middle-column">
                Is the property left unoccupied for<br> more than 60 consecutive days?<br>
                <input type="radio" value="Yes" name="unoccupied60[0]"> Yes
                <input type="radio" value="No" name="unoccupied60[0]"> No
              </div>
              <div class="premises-insured-right-column">
                Is the property left unoccupied for more than 90 days in total per policy period?<br>
                <input type="radio" value="Yes" name="unoccupied90[0]"> Yes
                <input type="radio" value="No" name="unoccupied90[0]"> No
              </div>
            </div>
            <div class="row grey">
              <div class="premises-insured-left-column">
                Is any part of your property let to tenants or do you accomodate paying guests?<br>
                <input type="radio" value="Yes" name="letToTenants[0]"> Yes
                <input type="radio" value="No" name="letToTenants[0]"> No
              </div>
              <div class="premises-insured-middle-column">
                Is the property open to the<br> public, or do you own any adjacent domestic<br> land forwhich you require property owners<br> liability cover?<br>
                <input type="radio" value="Yes" name="liabilityCover[0]"> Yes
                <input type="radio" value="No" name="liabilityCover[0]"> No
              </div>
              <div class="premises-insured-right-column">
                Are all final exit doors fitted with 5 level mortise deadlocks?<br>
                <input type="radio" value="Yes" name="morticeDeadlocks[0]"> Yes
                <input type="radio" value="No" name="morticeDeadlocks[0]"> No
              </div>
            </div>
            <div class="row">
              <div class="premises-insured-left-column">
                Is the property protected by a fire alarm with remote central station monitoring in ful and effective operation?<br>
                <input type="radio" value="Yes" name="fireAlarm[0]"> Yes
                <input type="radio" value="No" name="fireAlarm[0]"> No
              </div>
              <div class="premises-insured-middle-column">
                Are all ground floor and<br> accessible windows fitted with key operated<br>window locks?<br>
                <input type="radio" value="Yes" name="windowLocks[0]"> Yes
                <input type="radio" value="No" name="windowLocks[0]"> No
              </div>
              <div class="premises-insured-right-column">
                Is the property occupied by the proposer for domestic purposes only?<br>
                <input type="radio" value="Yes" name="domesticPurposes[0]"> Yes
                <input type="radio" value="No" name="domesticPurposes[0]"> No
              </div>
            </div>
            <div class="row grey">
              <div class="premises-insured-left-column">
                Are all outbuildings used for domestic purposes only?<br>
                <input type="radio" value="Yes" name="outbuildingsDomestic[0]"> Yes
                <input type="radio" value="No" name="outbuildingsDomestic[0]"> No
              </div>
              <div class="premises-insured-middle-column">
                Is there an intruder alarm in full<br> and effective operation?<br>
                <input type="radio" value="Yes" name="intruderAlarm[0]"> Yes
                <input type="radio" value="No" name="intruderAlarm[0]"> No
              </div>
              <div class="premises-insured-right-column">
                Is the alarm on an annual maintenance contract with a NACOSS or NSI approved alarm specialist?<br>
                <input type="radio" value="Yes" name="alarmMaintenance[0]"> Yes
                <input type="radio" value="No" name="alarmMaintenance[0]"> No
              </div>
            </div>
            <div class="row">
              <div class="premises-insured-left-column">
                Type of intruder alarm signalling<br>
                <input type="radio" value="Bells Only" name="alarmSignalling[0]"> Bells Only
                <input type="radio" value="Digital Communicator" name="alarmSignalling[0]"> Digital Communicator<br>
                <input type="radio" value="DualCom" name="alarmSignalling[0]"> DualCom
                <input type="radio" value="Redcare" name="alarmSignalling[0]"> Redcare
              </div>
              <div class="premises-insured-middle-column">
                Are you in the course of, or planning in the<br> near future, any building works at the<br> premises?<br>
                <input type="radio" value="Yes" name="buildingWorks[0]"> Yes
                <input type="radio" value="No" name="buildingWorks[0]"> No<br>
                If yes, please provide details<br>
                <textarea cols="28" rows="4" name="buildingWorksDetails[0]"></textarea>
              </div>
              <div class="premises-insured-right-column">
                Do you have a safe fitted?<br>
                <input type="radio" value="Yes" name="safeFitted[0]"> Yes
                <input type="radio" value="No" name="safeFitted[0]"> No<br>
                Type of safe fitted<br>
                <input type="text" name="typeOfSafeFitted[0]"><br>
                Make &amp; model<br>
                <input type="text" name="makeAndModel[0]"><br>
                Cash rating<br>
                <input type="text" name="cashRating[0]"><br>
                Is the safe anchored to the building in accordance with the manufacturers instructions?<br>
                <input type="radio" value="Yes" name="safeAnchored[0]"> Yes
                <input type="radio" value="No" name="safeAnchored[0]"> No
              </div>
            </div>
            <div class="row grey">
              <div style="width: 100%; clear: both; padding: 0 0 15px 0; font-size: 10pt"><strong>Has the proposed person to be insured or anyone residing with them:</strong></div>
              <div class="premises-insured-left-column">
                Had any loss or damage during the last 5 years (whether submitted or not)?<br>
                <input type="radio" value="Yes" name="anyLoss[0]"> Yes
                <input type="radio" value="No" name="anyLoss[0]"> No
              </div>
              <div class="premises-insured-middle-column">
                Had insurance declined, refused,<br> cancelled or special terms imposed?<br>
                <input type="radio" value="Yes" name="insuranceRefused[0]"> Yes
                <input type="radio" value="No" name="insuranceRefused[0]"> No
              </div>
              <div class="premises-insured-right-column">
                Been convicted of any offence (except driving), entered into arranges with creditors or been made bankrupt?<br>
                <input type="radio" value="Yes" name="convicted[0]"> Yes
                <input type="radio" value="No" name="convicted[0]"> No
              </div>
            </div>
            <div class="row">
              <div class="premises-insured-left-column">
                Details of claims &amp; losses in past 5 years whether submitted or not, and any adverse features
              </div>
              <div class="premises-insured-middle-column">
                <textarea cols="65" rows="5" name="claimDetails[0]"></textarea>
              </div>
            </div>
            <div class="row grey">
              <div class="premises-insured-left-column">
                Excess requirements<br>
                <!--					<input type="radio" value="250" id="excess250" name="excess[0]"> &pound;250-->
                <input type="radio" value="500" id="excess500" name="excess[0]"> &pound;500
                <input type="radio" value="1,000" id="excess1000" name="excess[0]"> &pound;1,000
                <input type="radio" value="2,500" id="excess2500" name="excess[0]"> &pound;2,500
              </div>
              <div class="premises-insured-middle-column">
                Are you a holding broker?<br>
                <input type="radio" value="Yes" name="holdingBroker[0]"> Yes
                <input type="radio" value="No" name="holdingBroker[0]"> No<br>
                Name of current insurer<br>
                <input type="text" name="currentInsurer[0]" size="30"><br>
                Renewal date<br>
                <input type="text" name="renewalDate[0]" size="30"><br>
                Target premium<br>
                <input type="text" name="targetPremium[0]" size="30">
              </div>
            </div>
            <div class="row">
              <div style="width: 100%; clear: both; padding: 0 0 15px 0; font-size: 10pt"><strong>Sums Insured:</strong></div>
              <div class="premises-insured-left-column">
                Buildings<br>
                House - Main building<br>
                <input type="text" name="houseSumInsured[0]"><br>
                Outbuildings<br>
                <input type="text" name="outbuildingsSumInsured[0]"><br>
                Tenant's Improvements<br>
                <input type="text" name="tenantsImprovementsSumInsured[0]">
              </div>
              <div class="premises-insured-middle-column">
                Contents other than valuable<br> articles (Min &pound;50k)<br>
                General contents<br>
                <input type="text" name="generalContentsSumInsured[0]"><br>
                Contents left in open<br>
                <input type="text" name="contentsLeftInOpenSumInsured[0]">
              </div>
              <div class="premises-insured-right-column">
                Jewellery (including watches)<br>
                <input type="text" name="jewellerySumInsured[0]" size="35"><br>
                Jewellery to be insured in safe only<br>
                <input type="text" name="jewelleryInSafeSumInsured[0]" size="35"><br>
                Jewellery to be insured in bank or safe deposit only<br>
                <input type="text" name="jewelleryInBankSumInsured[0]" size="35">
              </div>
            </div>
            <div class="row grey">
              <div style="width: 100%; clear: both; padding: 0 0 15px 0; font-size: 10pt">Valuable Articles excluding Jewellery</div>
              <div class="premises-insured-left-column">
                Paintings, pictures, prints, etc<br>
                <input type="text" name="paintingsSumInsured[0]" size="35"><br>
                Antique Furniture<br>
                <input type="text" name="furnitureSumInsured[0]" size="35"><br>
                Gold &amp; Silver (non-jewellery)<br>
                <input type="text" name="goldSumInsured[0]" size="35">
              </div>
              <div class="premises-insured-middle-column">
                Fragile Items<br>
                <input type="text" name="fragileSumInsured[0]" size="30"><br>
                Clocks &amp; Barometers<br>
                <input type="text" name="clocksSumInsured[0]" size="30"><br>
                Non-fragile statues &amp; sculptures<br>
                <input type="text" name="nonFragileSumInsured[0]"size="30">
              </div>
              <div class="premises-insured-right-column">
                Books<br>
                <input type="text" name="booksSumInsured[0]"><br>
                Wine<br>
                <input type="text" name="wineSumInsured[0]"><br>
                Furs<br>
                <input type="text" name="fursSumInsured[0]"><br>
                Guns<br>
                <input type="text" name="gunsSumInsured[0]">
              </div>
            </div>
            <div class="row">
              <div class="premises-insured-left-column">
                Any other material facts - please provide details below
              </div>
              <div class="premises-insured-middle-column">
                <textarea cols="65" rows="5" name="otherMaterials[0]"></textarea>
              </div>
            </div>
          </article>
        </div>
        <div class="add-property" @click="addProperty()">ADD PROPERTY</div><br>
        <br>
        <nuxt-link to="/aqua"><button class="close-form" type="button">CLOSE FORM</button></nuxt-link> <button class="next" data-id="2" type="button" @click="nextPage()">NEXT <strong>&gt;&gt;</strong></button> <button class="previous" data-id="2" type="button" @click="prevPage()"><strong>&lt;&lt; PREVIOUS</strong></button>
      </section>

      <section id="stage-3" class="quote-form" v-show="currentPage == 3">
        <article>
          <strong>You must take care to provide complete and accurate answers to the questions we ask when you take out, make changes to, and renew your policy.</strong><br>
          <br>
          If the information provided by you is not complete and accurate:<br>
          <ul><li>we may cancel your policy and refuse to pay any claim;</li>
            <li>we may not pay any claim in full;</li>
            <li>we may revise the premium and/or change any excess; or</li>
            <li>the extent of the cover may be affected</li></ul><br>
          <br>
          <div class="line-break"></div>
          <nuxt-link to="/aqua"><button class="close-form" type="button">CLOSE FORM</button></nuxt-link> <button class="focus-submit submit" type="submit">SUBMIT <strong>&gt;&gt;</strong></button> <button class="previous" data-id="3" type="button" @click="prevPage()"><strong>&lt;&lt; PREVIOUS</strong></button>
        </article>
      </section>

    </form>